{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit Todo Application</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
</head>
<body>
<main>
    <div class="container">

        <div class="heading text-center my-5">
            <h1>Edit To-Do :</h1>
        </div>

        <div class="todo-wrapper p-3 mx-auto my-3 shadow-lg rounded">
            {% if error_message %}
            <div class="task-error alert alert-danger" role="alert">
                <p>Une erreur est survenue : <strong>{{ error_message }}</strong></p>
            </div>
            {% endif %}

            <div class="text-right">
                <p>Task ID : <strong>{{ task.id}}</strong></p>
            </div>
            <div class="add-form-wrapper">
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <hr>
                    <div class="form-group">
                        <label for="content">Task content :</label>
                        {{ form.content }}
                    </div>
                    <div class="form-group text-center">
                        <label for="is-done">Task complete :</label>
                        {{ form.is_done }}
                    </div>

                    <hr>
                    <div class="text-center">
                        <a href={% url 'todo:index' %} class="btn btn-md btn-secondary">
                        Cancel
                        </a>
                        <button type="submit" class="btn btn-primary btn-md">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
