{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo Application</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
</head>
<body>
<main>
    <div class="container">
        <div class="todo-wrapper p-5 mx-auto my-5 shadow-lg rounded">

            <div class="heading text-center">
                <h1>To-Do List</h1>
            </div>

            {% if error_message %}
            <div class="task-error alert alert-danger" role="alert">
                <p>Une erreur est survenue : <strong>{{ error_message }}</strong></p>
            </div>
            {% endif %}

            <div class="add-form-wrapper my-5">
                <form action="{% url 'todo:index' %}" method="post" class="add-items">
                    {% csrf_token %}
                    <div class="form-heading">
                        <label for="task-content" class="d-block">Task Content :</label>
                    </div>
                    <div class="form-fields d-flex">
                        <input type="text" name="task-content" id="task-content" class="form-control"
                               placeholder="What do you need to do today?">
                        <input type="submit" name="task-add" value="Add task" class="btn btn-primary task-btn-add ml-3">
                    </div>
                </form>
            </div>

            <ul class="list-unstyled d-flex flex-column">
                <!-- des choses a ajouter ici -->
                {% for task in tasks %}
                <li class='task__item d-flex {{task.is_done|yesno:"task--done,"}}'>
                    <div class="item__check d-flex">
                        <!--<input class="checkbox" type="checkbox">-->
                        <a href="{% url 'todo:edit' task.id %}">
                            <p class="m0 p0">{{ task.content }}</p>
                        </a>
                    </div>
                    {% if not task.is_done %}
                    <div class="item-actions">
                        <form action={% url 'todo:index' %} method="post" class="d-flex">
                        {% csrf_token %}
                        <input type="hidden" name="task-id" value={{ task.id }}>
                        <button id="task-done" class="btn btn-sm btn-primary d-flex mx-1" name="task-done"
                                type="submit">
                            <img src={% static 'todo/done.png' %} alt="done" class="mr-1"> Done
                        </button>
                        <button class="btn btn-sm btn-danger d-flex mx-1" name="task-delete" formnovalidate=""
                                type="submit">
                            <img src={% static 'todo/delete.gif' %} alt="delete" class="mr-1"> Delete
                        </button>
                        </form>
                        <!--
                        <a href="#" class="action--done">
                            <img src={% static 'todo/done.png' %} alt="done">
                            Done
                        </a>

                        <a href="#" class="action--delete">
                            <img src={% static 'todo/delete.gif' %} alt="delete">
                            Delete
                        </a>
                        -->
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</main>
</body>
</html>
