body {
    background-color: lightseagreen;
    font-family: Karla;
}

.heading h1 {
    font-family: Rubik;
}

.todo-wrapper {
    background: white;
    max-width: 767px;
}

.todo-wrapper a {
    display: block;
    color: #555555;
    font-weight: bold;
    height: 30px;
    text-decoration: none;
    width: 100%;
}

.task__item {
    border-bottom: 1px solid lightgray;
}

.task--done {
    text-decoration: line-through;
}

.item__check {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
