body {
    background-color: lightseagreen;
    font-family: Karla;
}

.heading h1 {
    font-family: Rubik;
}

.todo-wrapper {
    background: white;
    max-width: 767px;
}

.task__item {
    border-bottom: 1px solid lightgray;
    transition: all 0.3s ease-in;
    justify-content: space-between;
    align-items: center;
}

.task__item:hover {
    background-color: beige;
}

.task__item a {
    color: black;
}

.task--done {
    text-decoration: line-through;
}

.task__item .item__check {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
